<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodsnextdoor.pooja.goodsnextdoor" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-library android:name="com.google.android.maps" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
       android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
                <action android:name="com.urbanairship.push.OPENED" />
                <action android:name="com.urbanairship.push.DISMISSED" />
                <action android:name="com.urbanairship.push.RECEIVED" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".optionsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PostActivity"
            android:label="@string/title_activity_post"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".searchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".selectActivity"
            android:label="@string/title_activity_select"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".listActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".itemdescriptionActivity"
            android:label="@string/title_activity_itemdescription"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".ownerprofileActivity"
            android:label="@string/title_activity_ownerprofile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".mypostsActivity"
            android:label="@string/title_activity_myposts"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".deletepostActivity"
            android:label="@string/title_activity_deletepost"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loanoptionsActivity"
            android:label="@string/title_activity_loanoptions"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loanerActivity"
            android:label="@string/title_activity_loaner"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loaneeActivity"
            android:label="@string/title_activity_loanee"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loanerlocationActivity"
            android:label="@string/title_activity_loanerlocation"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loaneroptionActivity"
            android:label="@string/title_activity_loaneroption"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loanitemlistActivity"
            android:label="@string/title_activity_loanitemlist"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loanitemdescriptionActivity"
            android:label="@string/title_activity_loanitemdescription"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loanerprofileActivity"
            android:label="@string/title_activity_loanerprofile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loanrequestActivity"
            android:label="@string/title_activity_loanrequest"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".manageeloanitemActivity"
            android:label="@string/title_activity_manageeloanitem"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ownercontrolActivity"
            android:label="@string/title_activity_ownercontrol"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loancontrolActivity"
            android:label="@string/title_activity_loancontrol"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".choiceActivity"
            android:label="@string/title_activity_choice"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".requestsActivity"
            android:label="@string/title_activity_requests"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".requesterprofileActivity"
            android:label="@string/title_activity_requesterprofile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".positionActivity"
            android:label="@string/title_activity_position"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".noteActivity"
            android:label="@string/title_activity_note"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <receiver
            android:name=".AirshipReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
                <action android:name="com.urbanairship.push.OPENED" />
                <action android:name="com.urbanairship.push.RECEIVED" />
                <action android:name="com.urbanairship.push.DISMISSED" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- REQUIRED -->
        <!--
             The 'android:process' parameter is optional. Set it to a value starting
            with a colon (:) to make it run in a separate,
            private process
        -->

    </application>

</manifest>
